---
layout: default
---

<article class="post">
    <header class="post-header">
        <div class="post-container">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%B %d, %Y" }}
                </time>
                {% if page.author %}
                <span class="post-author">by {{ page.author }}</span>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="post-content">
        <div class="post-container">    
            {{ content }}
        </div>
    </div>

    <footer class="post-footer">
        <div class="post-container">
            <div class="post-feedback">
                <p class="feedback-prompt">I’d like to make a small batch of these synths. Click the button below to stay updated.</p>
                    <button class="btn-feedback" data-eo-form-toggle-id="efd478ba-d0f9-11f0-9046-4f41046c0488">Keep me updated</button>
            </div>
        </div>
        <div class="container">
            <div class="post-navigation">
                {% if page.previous.url %}
                <a class="prev" href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>
                {% endif %}
                {% if page.next.url %}
                <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>
                {% endif %}
            </div>
        </div>
    </footer>
</article> 